.purple-link:link{
    text-decoration: none;
    color: #a0008b;
}
.purple-link:visited{
    text-decoration: none;
    color: #a0008b;
}
.purple-link:hover{
    text-decoration: none;
    color: #a0008b;
}
.darkgrey-link:link{
    text-decoration: none;
    color: #404040;
}

.darkgrey-link:visited{
    text-decoration: none;
    color: #404040;
}

.darkgrey-link:hover{
    text-decoration: none;
    color: #404040;
}

.black-link:link {
    text-decoration: none;
    color: #000000;
}

.black-link:visited{
    text-decoration: none;
    color: #000000;
}

.black-link:hover{
    text-decoration: none;
    color: #000000;
}

.black-underline-link:link {
    text-decoration: none;
    color: #000000;
}

.black-underline-link:visited{
    text-decoration: none;
    color: #000000;
}

.black-underline-link:hover{
    text-decoration:underline; 
    color: #000000;
}

.black-orange-link:link {
    text-decoration: none;
    color: #000000;
}

.black-orange-link:visited{
    text-decoration: none;
    color: #000000;
}

.black-orange-link:hover{
    text-decoration: none;
    color: #ff6c00;
}


.grey-link:link{
    text-decoration: none;
    color: #626262;
}

.grey-link:visited{
    text-decoration: none;
    color: #626262;
}

.grey-link:hover{
    text-decoration: none;
    color: #626262;
}

.article-list {
    text-align: left;
    margin-bottom: 50px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.abstract {
    margin-top: 5px;
    color: #404040;
}

.article{
    text-align: left;
}

.li-ns {
    list-style: none;
    text-align: left;
    margin-bottom: 5px;
}

.image{
    text-align: left;
}

#logo {
    font-family: 'Gabriela', serif;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 15%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
}

#contact{
    margin-left: 15%;
    text-align: left;
    margin-top: 100px;
}

#comments{
    width: 90%;
    margin: 5px auto;
    margin-top: 15px;
}

#about-me{
    text-align: left;
    margin-left: 20px;
}