.darkgrey-link:link{
    text-decoration: none;
    color: #404040;
}

.darkgrey-link:visited{
    text-decoration: none;
    color: #404040;
}

.darkgrey-link:hover{
    text-decoration: none;
    color: #404040;
}

.black-link:link {
    text-decoration: none;
    color: #000000;
}

.black-link:visited{
    text-decoration: none;
    color: #000000;
}

.black-link:hover{
    text-decoration: none;
    color: #000000;
}

.grey-link:link{
    text-decoration: none;
    color: #626262;
}

.grey-link:visited{
    text-decoration: none;
    color: #626262;
}

.grey-link:hover{
    text-decoration: none;
    color: #626262;
}

.article-list {
    text-align: left;
    margin-bottom: 50px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.abstract {
    margin-top: 5px;
    color: #404040;
}

.article{
    text-align: left;
}

.li-ns {
    list-style: none;
    text-align: left;
    margin-bottom: 5px;
}

#logo {
    font-family: 'Gabriela', serif;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 15%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
}

#contact{
    margin-top: 100px;
}

#comments{
    margin-top: 10px;
    width: 50%;
}